[submodule "genode"]
	path = genode
	url =  https://github.com/zellnerm/genode.git
	branch = focnados
[submodule "genode-dom0-HW"]
	path = genode-dom0-HW
	url = https://github.com/argos-research/genode-dom0-HW
[submodule "genode-Taskloader"]
	path = genode-Taskloader
	url = https://github.com/argos-research/genode-Taskloader
[submodule "genode-Parser"]
	path = genode-Parser
	url = https://github.com/argos-research/genode-Parser
[submodule "genode-Monitoring"]
	path = genode-Monitoring
	url = https://github.com/argos-research/genode-Monitoring.git
[submodule "toolchain-host"]
	path = toolchain-host
	url = https://github.com/zellnerm/toolchain-host
[submodule "genode-schedulerTest"]
	path = genode-schedulerTest
	url = https://github.com/argos-research/genode-schedulerTest.git
[submodule "genode-Synchronization"]
	path = genode-Synchronization
	url = https://github.com/argos-research/genode-Synchronization
[submodule "genode-AdmCtrl"]
	path = genode-AdmCtrl
	url = https://github.com/argos-research/genode-AdmCtrl
[submodule "toolchain-host-ml"]
	path = toolchain-host-ml
	url = https://github.com/argos-research/toolchain-host-ml.git
