[submodule "genode"]
	path = genode
	url = https://github.com/702nados/genode
	branch = focnados
[submodule "genode-dom0-HW"]
	path = genode-dom0-HW
	url = https://github.com/702nados/genode-dom0-HW
[submodule "genode-Taskloader"]
	path = genode-Taskloader
	url = https://github.com/702nados/genode-Taskloader
[submodule "genode-Parser"]
	path = genode-Parser
	url = https://github.com/702nados/genode-Parser
[submodule "genode-Monitoring"]
	path = genode-Monitoring
	url = https://github.com/702nADOS/genode-Monitoring.git
[submodule "toolchain-host"]
	path = toolchain-host
	url = https://github.com/702nados/toolchain-host
[submodule "genode-schedulerTest"]
	path = genode-schedulerTest
	url = https://github.com/702nADOS/genode-schedulerTest.git
